

.ct-div{
    height: 550px;
    padding:0px 150px 0px 150px;
    background-size: 100% 550px;
    background-repeat: no-repeat;
}

.ct-div  .slick-dots li button{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 2px solid #ffffff;
}

.ct-div .slick-dots li button:before{
    display: none;
}


.ct-div .slick-dots li.slick-active button{
    background-color: white;
}

.ct-div .slick-next:before{
    display: none;
}

.ct-div .slick-prev:before {
    display: none;
}

.ct-div .slick-slider * { 
    outline: none; 
  }

.ct-div .slick-dots{
    
    bottom: -135px;
    /* margin-top: 180px; */
    text-align: left;
    display: flex !important;
    justify-content: center;
}

.ct-common{
    font-family: Lato;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    text-align: center;
    color: #ffffff;

}
.ct-content-text{
    margin-top: 130px;
    font-size: 20px;
    line-height: 2;
    letter-spacing: 0px;
}

.ct-name{

    font-size: 20px;
    font-weight: bold;
    line-height: 1.6;
    letter-spacing: 1.4px;
    margin-top: 40px;
}


.ct-designation{
    font-family: Lato;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 1px;
    margin-top: 3px;
}