
.service-container{

    /* padding-top: 120px; */
}

.service-client-title{
    padding-left: 60px;
    font-family: Lato;
    font-size: 35px;
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.03;
    letter-spacing: normal;
    color: #000000;
}

.service-client-bluebox{
    margin-left: 60px;
    width: 164px;
    border: solid 4px #4717f5;
    margin-top: 6px;
}