
.lwb-container{

    margin-top: 80px;

    padding-right: 50px;
}

.lwb-div{
    width:75%;
    padding: 15px 10px 70px 20px;
    border: solid 4px #4717f5;
    
    margin-left: 20px;
}

.lwb-title{
    font-size: 25px;
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.03;
  letter-spacing: normal;
  color: #000000;
}

.lwb-title-bluebox{
    width: 78px;
    margin-top: 10px;
    border: solid 3px #a33acb;
}

.lwb-content{
    margin-left: 35px;
    font-family: Lato;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: normal;
    color: #000000;
    /* margin-top: 4px; */
}

.lwb-white-div{
    /* width: 85%; */
    /* margin-left: 100px; */
    padding: 30px 20px 0px 0px ;
    box-shadow: 0 5px 12px 0 rgba(71, 23, 245, 0.32);
    background-color: #ffffff;
    z-index: 100;
    margin-top: -50px;
    display: flex;
}

.lwb-white-content{
    margin-top: 20px;
    font-size: 14.5px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: center;
  color: #000000;
  
}

.lwb-whitebox{
  
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 25px 0px 25px;
}

.lwb-white-blackbox-left{

    width: 140px;
    height: 14px;
    background-color: #000000;

}

.lwb-white-blackbox-right{
    width: 14px;
    height: 20px;
    background-color: #000000;
}